#add_product_div{
margin:0px;
padding:0px;
width:250px;
height:50px;
position:static;
}
.detail_body{
margin:0px;
padding:0px;
}
.detail_header_info{
margin:0px;
padding:0px;
height:58px;
}
.detail_product{
margin-top:0px;
margin-left:0px;
margin-right:5px;
margin-bottom:0px;
padding:0px;
width:542px;
height:467px;
float:left;
}
.detail_description{
margin-top:0px;
margin-left:545px;
margin-right:0px;
margin-bottom:0px;
padding:0px;
width:660px;
height:467px;
float:none;
}
#update_description{
margin:0px;
padding:0px;
width:330px;
height:250px;
}
.update_form{
margin:0px;
padding:0px;
width:330px;
height:250px;
}
.update_form #product_name{
margin:0px;
padding:0px;
width:329px;
height:24px;
border:1px;
display:block;
}
.update_form textarea{
margin:0px;
padding:0px;
width:329px;
height:200px;
border:1px;
display:block;
}
.update_form .update_submit{
margin:0px;
padding:0px;
width:329px;
height:24px;
display:block;
}
.detail_product_name{
margin-top:0px;
margin-left:25px;
margin-right:0px;
margin-bottom:10px;
padding:0px;
width:100%;
height:24px;
font-size:large;
font-family:'arial';
color:#474e58;
}
.detail_product_price{
margin-top:0px;
margin-left:25px;
margin-right:0px;
margin-bottom:10px;
padding:0px;
width:100%;
height:24px;
font-size:large;
font-family:'arial';
color:#d65739;
}
#detail_product_png{
margin:0px;
padding:0px;
height:100%;
width:100%;
}
#detail_product_video{
margin:0px;
padding:0px;
height:100%;
width:100%;
}
#detail_product_main_video{
margin:0px;
padding:0px;
height:100%;
width:100%;
overflow:hidden;
background:black;
display:none;
}
#detail_product_main_png{
margin:0px;
padding:0px;
height:100%;
width:100%;
}
.detail_upload{
margin-top:5px;
margin-left:0px;
margin-bottom:0px;
margin-right:0px;
padding:0px;
height:100px;
width:540px;
overflow-x:auto;
}
.detail_upload_img{
list-style-type: none;
margin:0px;
padding:0px;
overflow:hidden;
}
.detail_upload_img li{
margin-left:0px;
margin-top:0px;
margin-right:2px;
padding:0px;
float: left;
height:50px;
width:58px;
border:1px;
border-style:solid;
border-color:#c3c0be;
}
.detail_img_uploads{
margin:0px;
padding:0px;
height:100px;
width:115px;
}
.detail_main_img{
margin:0px;
padding:0px;
height:360px;
width:540px;
border:1px;
border-style:solid;
border-color:#c3c0be;
}
.detail_img_uploads:hover{
cursor: pointer;
}
li:hover{
cursor:pointer;
}
#video_start_control{
padding:0px;
margin:0px;
position: absolute;
top: 302px;
left: 403px;
height: 86px;
width: 86px;
display:none;
position:absolute;
}
form.button_to{
margin:0px;
padding:0px;
width:250px;
height:50px;
}
form.button_to #detail_add_cart{
margin-top:1px;
margin-bottom:1px;
height:48px;
padding:0px;
width:200px;
margin-left:25px;
margin-right:25px;
border:none;
color:white;
background:#29678f;
font-size:large;
display:block;
}
form.button_to #detail_update_item{
margin-top:1px;
margin-bottom:1px;
height:48px;
padding:0px;
width:200px;
margin-left:25px;
margin-right:25px;
border:none;
color:white;
background:#29678f;
font-size:large;
display:block;
}
form.button_to #detail_delete_item{
margin-top:1px;
margin-bottom:1px;
height:48px;
padding:0px;
width:200px;
margin-left:25px;
margin-right:25px;
border:none;
color:white;
background:#29678f;
font-size:large;
display:block;
}
#detail_update{
margin-top:1px;
margin-bottom:1px;
height:48px;
padding:0px;
width:200px;
margin-left:25px;
margin-right:25px;
border:none;
color:white;
background:#29678f;
font-size:large;
display:block;
}
form.button_to #detail_add_cart:hover{
cursor:pointer;
background:#dc6e6e;
}
form.button_to #detail_update_item:hover{
cursor:pointer;
background:#dc6e6e;
}
form.button_to #detail_delete_item:hover{
cursor:pointer;
background:#dc6e6e;
}
#detail_update:hover{
cursor:pointer;
background:#dc6e6e;
}
#div_update_item{
margin:0px;
padding:0px;
width:250px;
height:128px;
display:block;
position:static;
}
#product_name{
margin-left:24px;
padding:0px;
width:198px;
height:24px;
position:static;
}
#product_model{
margin-left:24px;
padding:0px;
width:198px;
height:24px;
position:static;
}
#product_price{
margin-left:24px;
padding:0px;
width:198px;
height:24px;
position:static;
}
