.div_catalog_body{
width:100%;
height:100%;
}
.catalog_list{
margin:0px;
padding:0px;
border:1px;
}
.catalog_list tbody{
margin:0px;
padding:0px;
}
.catalog_list tr{
margin:0px;
padding:0px;
}
.product_image{
float:left;
width:346px;
height:220px;
margin:0px;
padding:0px;
}
.product_png{
margin:0px;
padding:0px;
height:100%;
width:100%;
}
.product_description{
float:left;
width:564px;
height:220px;
margin:0px;
padding:0px;
}
.product_image:hover{
background-color:#e6a098;
cursor:pointer;
}
.div_create_content{
margin:0px;
padding:0px;
}
.div_create_main{
margin:0px;
padding:0px;
}
.div_norecord{
padding:0px;
margin:0px;
height:618px;
width:100%;
}
