#div_form{
margin:0px;
padding:0px;

}
.upload_form{
margin:0px;
padding:0px;
width:256px;
}
.upload_file{
margin:0px;
padding:0px;
height:24px;
width:256px;
border:1px;
}
.upload_text{
margin:0px;
padding:0px;
height:24px;
width:256px;
border:1px;
}
#upload_name{
margin:0px;
padding:0px;
height:24px;
width:256px;
border:1px;
}
